.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
table {
  display: block;
  border: 10px solid #3a4965;
}
.choose-your {
  background: #fafafa;
}
tr {
  border: 1px solid darkgrey;
  padding: 20px 40px;
  text-align: center;
}
td {
  border: 1px solid darkgrey;
  padding: 20px 40px;
  text-align: center;
}
th {
  border: 1px solid darkgrey;
  padding: 20px 40px;
  font-weight: bold;
  text-align: center;
}
.choose-your-pricing-plan {
  font-size: 18px;
  vertical-align: middle;
  background: #fafafa;
}
.pricing-plan {
  font-size: 30px;
}
.standard {
  font-size: 24px;
  background: #89c331;
  color: white;
}
.ultimate {
  font-size: 30px;
  background: #f04a56;
  color: white;
}
.premium {
  font-size: 24px;
  background: #20807c;
  color: white;
}
.storage,
.email,
.products {
  background: #f2f2f2;
}
.bandwidth,
.support,
.users {
  background: #e3e3e3;
}
.per-month {
  background: #fafafa;
}
img {
  height: 15px;
}
.contact-us {
  width: 195px;
  height: 52px;
  background: #484848;
  border-radius: 0px 0px 5px 5px;
}
.standard-button {
  width: 195px;
  height: 52px;
  background: #89c331;
  border-radius: 0px 0px 5px 5px;
}
.ultimate-button {
  width: 195px;
  height: 52px;
  background: #f04a56;
  border-radius: 0px 0px 5px 5px;
}
.premium-button {
  width: 195px;
  height: 52px;
  background: #20807c;

  border-radius: 0px 0px 5px 5px;
}
.a-button {
  text-decoration: none;
  color: #ffffff;
}
.contact-us-background {
  background: #dddddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.standard-button-background {
  background: #eeeeee;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.ultimate-button-background {
  background: #f4f4f4;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.premium-button-background {
  background: #eeeeee;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.big-price {
  font-weight: bold;
  font-size: 60px;
  margin-left: -100px;
}
.small-price {
  font-weight: bold;
  margin-top: -65px;
  padding-left: 20px;
  font-size: 24px;
}
.text-price {
  font-size: 18px;
  margin-left: 100px;
}
