.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
table {
  display: block;
  border: 20px solid #3a4965;
}
tr {
  padding: 20px 40px;
  text-align: center;
}
td {
  padding: 20px 40px;
  text-align: center;
  color: #484848;
  border-bottom: 1px solid darkgrey;
  vertical-align: middle;
}
th {
  border-bottom: 10px solid #3a4965;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #848484;
}
.pricing-plan {
  font-size: 20px;
}
.choose-your-pricing-plan {
  font-size: 14px;
  background: #fafafa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  vertical-align: middle;
  color: #484848;
}
.bcolor1 {
  background: #e3e3e3;
}
.bcolor2 {
  background: #f2f2f2;
}
img {
  margin-bottom: 5px;
}
.standard {
  font-weight: bold;
  font-size: 24px;
  background: #89c331;
  color: white;
}
.ultimate {
  font-weight: bold;
  font-size: 24px;
  background: #f04a56;
  color: white;
}
.premium {
  font-weight: bold;
  font-size: 24px;
  background: #20807c;
  color: white;
}
.big-price {
  font-weight: bold;
  font-size: 36px;
  margin-left: -110px;
}
.small-price {
  font-weight: bold;
  margin-top: -35px;
  margin-left: -50px;
  font-size: 18px;
}
.text-price {
  font-weight: bold;
  font-size: 14px;
  margin-left: 65px;
  margin-top: -5px;
}
.a-button {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.buy-button {
  height: 44px;
  width: 147px;
  background: #414141;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
}
