body {
  background: url("../img/background.jpg") center/cover no-repeat;
  overflow: hidden;
  width: 100%;
}
.container {
  position: relative;
  height: 900px;
  transform: perspective(200px) rotateX(20deg);
}
.text {
  position: absolute;
  animation: starwars 35s linear 0s infinite;
  color: rgb(250, 187, 51);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 1000px;
  margin-left: 25%;
}

@keyframes starwars {
  0% {
    top: 75%;
  }
  100% {
    top: -40%;
  }
}
