.btn {
    position: fixed;
    width: 44px;
    height: 37px;
    background-color: #000;
    border: none;
    right: 28px;
    top: 0;
    margin-top: 23px;
    padding:0;
    overflow: hidden;
    cursor: pointer;
    @media (min-width: 768px) {
        display: none;
    }

}

.btn__lines {
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
    top: 17px;
    background-color: #FFFFFF;
    
    &::before {
        @extend %btn__lines--topbot;
        top: 4px;
    }
    
    &::after {
        @extend %btn__lines--topbot;
        bottom: 4px;
    }

    &.active {
        background: none;

        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
        
        &::after {
            transform: rotate(45deg);
            bottom: 0;
        }
    }
}

%btn__lines--topbot {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
}

