.footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 35px 47px 35px;

    @media (min-width: 768px) {
        padding: 57px 52px 80px 32px;
    }

    @media (min-width: 1200px) {
        padding:66px 262px 70px 254px;
    }
    
    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FEFEFE;
        @extend %p-m-0;
    }

    &__subtitle {
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        @extend %p-m-0;
        padding-top: 8px;
        text-align: center;

        @media (min-width: 768px) {
            display:none;
        }
    }

    &__subtitle--2 {
        display:none;
        font-size: 16px;
        line-height: 28px;
        color: #B9B9B9;
        @extend %p-m-0;
        padding-top: 8px;
        text-align: center;
        padding-top: 22px;

        @media (min-width: 768px) {
            display:inline;
        }
    }

    &__icons {
        @extend %p-m-0;
        padding: 26px 0 25px;

        @media (min-width: 768px) {
            padding: 37px 0 34px;
        }
    }

    &__contact {
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
        @extend %p-m-0;
        text-align: center;
    }

    &__tel {
        display: block;
        color: #B9B9B9;
        text-decoration: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    &__mail {
        display: block;
        color: #B9B9B9;
        text-decoration: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }
}
