.navigation {
    display:none;
    background-color: #F5F5F5;
    position: fixed;
    margin-top: 60px;
    right: 28px;
    top: 0;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        position: static;
        margin-top: 41px;
        background-color: transparent;
    }

    &.active {
        display:block;
    }

    @media (min-width: 1200px) {
        margin-top: 29px;
    }

    &__list {
        @extend %p-m-0;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__item {
        @media (max-width: 767px) {
            width: 182px;
        }
    }   

    &__item:hover {
        @media (max-width: 767px) {
            background-color:#E5E5E5;
        }
    }    
        
    &__link {
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        @extend %main__text--grey;

        &.active {
            color: #57A4A4;
        }

        @media (max-width: 767px) {
            width: 182px;
            padding-left: 12px;
        }

        @media (min-width: 768px) {
            padding-left: 20px;
        }

        @media (min-width: 1200px) {
            padding-left: 50px;
        }
    }
}
