.posts {
    &__img {
        display: block;
        margin-top: 83px;
        padding-bottom: 28px;

        background-image: url("../img/intro-320.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        height: 150px;
        
        @media (min-width: 768px){
            margin-top: 43px;
            background-image: url("../img/intro-768.jpg");
            height: 361px;
        }
    
        @media (min-width: 1200px){
            margin-top: 51px;
            background-image: url("../img/intro-1200.jpg");
            height: 550px;
        }
    }

    &__info {
        @media (min-width: 768px){
            padding-left: 20px;
        }
    }

    &__item {
        @extend %p-m-0;
        padding-bottom: 28.5px;

        @media (min-width: 768px) {
            display:flex;
            padding-bottom: 32px;
        }
    }

    &__title {
        @extend %h-1;
        padding: 38px 0 23px 0;

        @media (min-width: 768px) {
            padding: 56px 0 24px 0;
        }

        @media (min-width: 1200px) {
            padding-top: 66px;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        @extend %main__text--grey;
        @extend %p-m-0;
        padding-top: 11px;

        
        @media (min-width: 768px) {
            padding-top: 0;
        }
    }

    &__comment {
        font-size: 11px;
        line-height: 20px;
        color: #7C7C7C;
        @extend %p-m-0;
        
    }

    &__text{
        display:none;
        @extend %p-m-0;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        padding-top: 13px;

        @media (min-width: 768px){
            display: block;
        }
    }

    &__list {
        @extend %p-m-0;

        @media (min-width: 1200px) {
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__flowers {
        display:none;

        @media (min-width: 768px){
            display: flex;
        }
    }
}
