.nav {
  text-align: center;
}

ul.nav li {
  margin-left: 6%;
  display: inline;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ff0000;
}

h2 {
  text-align: center;
  color: #373737;
}

p {
  text-align: center;
  color: #373737;
}

button {
  text-align: center;
  margin-left: 45%;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #ff0000;
  color: #ffffff;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  font-weight: bold;
  text-align: right;
  color: #373737;
  margin-right: 300px;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}
